body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.content {
   margin: auto;
   width: 490px;
   border: 1px solid #000; 
   text-align: center;
   padding-bottom: 20px;
}

p {
    font-size: 32px;
    text-align: center;
}

p.debug {
  font-size: 14px;
}
